<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Ionic App With Sails Js</title>

    <style>
      .angular-google-map-container {
          width: 100%;
          height: 504px;
      }
    </style>
    <link href="css/ionic.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="js/ionic.bundle.js"></script>
    <script src="js/ionic_app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/hello.js"></script>
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
</head>
  <body ng-app="app" animation="slide-left-right-ios7">
    <%- body %>
  </body>
</html>