<ion-view style="" title="HomePage" data-ng-controller="homeCtl" data-ng-init="getuser()">
    <ion-content class="has-header" padding="true">
        <h3 style="">Hello {{userName}}<br> Welcome to ionic application dashboard</h3>
        <a style="" class="button button-stable button-block" href="#/homePage">Tap me!</a>
        <form style=""></form>
        <button class="button button-block button-positive" data-ng-click="logout()">
          Logout
        </button>
    </ion-content>
</ion-view>